h3 {
  margin-top: 0;
  padding-top: 0;
}

h4 {
font-weight: bold;
text-align: center;
}


#legendDivID > span {
  display: none;
}

#legendDivID > span[color="white"]   {
  display: none;
}

#legendDivID > .highlight {
  display: inline;
}

.dygraph-legend1 > span {
  display: none;
}

.dygraph-legend1 > br + span {
  display: inline;
}

.dygraph-legend1 > .highlight {
  display: inline;
}
